body{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
    font-family: popins, sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(99, 3, 114, 0.861);
    position: sticky;
    top: 0;
}

/* .nav-image img{
    width: 70px;
    height: 70px;
} */
.nav-search{
    display: flex;
       
}
input{
    width: 450px;
    height: 40px;
}
.nav-search i{
    background-color: rgb(222, 204, 70);
    color:#fff;
    padding: 9px;
    margin-left: -30px;
}
.nav-icon{
    display: flex;

}
.nav-icon i {
    color:#fff;
    padding: 9px;
}
div h1{
    color: white;

}
span{
    color: rgb(222, 204, 70);
    
}

.home{
    display: grid;
    grid-template-columns: 25% 70%;
    margin: 30px 0;
    justify-content: space-evenly;
}

.categories{
    background-color: aliceblue;
    border: 1px solid wheat;
    padding: 15px;
    box-shadow: 3px 4px 5px  black;
    
}
.categories h2{
    text-align:center;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}
.categories li{
    list-style-type: none;
    padding: 8px 0;
    padding-left: 20px;

}
.categories li a{
    text-decoration: none;
    color: black;
}
.digital-image{
    background-image: linear-gradient(rgba(108, 7, 231, 0.808),rgba(101, 8, 177, 0.438));
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-size: cover;
    box-shadow: rgb(0, 0, 0,0.35) 0px 5px 10px;
    /* height: 219px; */
}
.digital-image img{
    background:transparent;
}
.digital-image h2{
    text-align: center;
}


#mob-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
    
}
.mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    justify-content: space-around;
}
.mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    background-color: #c8e6f6;
    border: 1px solid #c8e6f6;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 10px;
    
}

.mobiles div img{
    height: 150px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
    background-color: transparent;
}

.mobiles span p{
    padding: 3px;
    font-size: small;
    color: #000;
}
.mobiles span p:first-child{
    font-weight: bold;

}


/* Laptop Section */
#laptop-heading{
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.laptops{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-around;
}
.laptops div{
    background-color: #c8e6f6;
    border: 1px solid #c8e6f6;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 10px;

}
.laptops div img{
    height: 160px;
    width: 180px;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 5px;
    background-color: transparent;
}
.laptops .notify{
    background-color: rgb(116, 4, 145);
    color: #fff;
    width: 90px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    box-shadow: rgb(0, 0, 0,0.35) 0px 5px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;

}
.notify p{
    
    font-size: small;
}

.laptops h4{
    padding-top: 5px;
    padding-bottom: 15px;
}


/* Watches Section */

#watches-heading{
    margin-top: 20px;
    margin-left: 10px;
    pad: 10px 20px;
}

.smart-watches{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}
.smart-watches div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c8e6f6;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.43) 0px 5px 10px;
}

.smart-watches div img{
    width: 200px;
    height: 190px;

}
.smart-watches p{
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

/* Footer section */

footer{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: #c8e6f6;

}

footer img{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
}
footer img:hover{
    width: 32px;
    height: 32px;
    padding: 12px;
}
.allright{
    text-align: center;
    background-color: #c8e6f6;
    padding-top: 10px;
    padding-bottom: 20px;
    color:#292626bb;
    margin-top: 0;
}

/* .mobiles div:hover{
    width: 100%;
} */
@media (max-width:1000px) 
{
    nav{
        height: 80px;
        justify-content: space-between;
    }    
    .nav-image h1{
        font-size: 14px;
    }
    input{
        width: 200px;
        height: 30px;
    }
    .nav-search i{
        margin-left: -20px;
        padding: 3px;

    }
    .nav-icon{
        color:#fff;
        padding: 3px;
    }
    .categories{
        padding: 5px;
        /* height: 70px; */
        
    }
    .categories h2{
        font-size: 18px;
        padding: 2px;
        margin-top: 2px;
    
    }

    .categories li{
        list-style-type: none;
        padding: 4px 0;
        padding-left: 5px;
        font-size: 12px;
    
    }
    #mob-heading{
        margin-top: 80px;
        margin-bottom: 10px;
        padding: 10px 20px;
        
    }
    .mobiles{
        grid-template-columns: 30% 30% 30%;
        justify-content: space-around;
        margin-bottom: 10px;

    }

    .mobiles div{
        margin: 10px 0;
        height: 100%;
        margin-bottom: 0;
        /* border: 10px solid #a9c7e0; */
    }

    .mobiles div img{
        height: 80%;
        width: 90%;
    }
    .mobiles span p{
        font-size: medium;
    }
    
    .laptops{
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
    }

    .laptops div{
        margin-bottom: 10px;
    }

    .laptops div img{
        height: 170px;
        width: 180px;
        border-radius: 5px;
        margin: 10px;
        margin-bottom: 5px;
        background-color: transparent;
    }

    .smart-watches{
        display: grid;
        grid-template-columns: 30% 30%;
        justify-content: space-around;
    }
    .smart-watches div{
        display: grid;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 90%;
        padding: 10px 10px;
    }
    .smart-watches div img{
        width: 100%;
        height: 190px;

    }
    .smart-watches p{
        font-size: 2vh;
        padding-top: 3px;
        padding-bottom: 10px;
    }
}
@media (max-width:400px) {
    nav{
        height: 60px;

    }
    .nav-image h1{
        font-size: 16px;
    }
    
    input{
        width: 170px;
        height: 25px;
    }

    .nav-search i{
        margin-left: -15px;
        padding: 5px;
    }
    .nav-icon{
        padding: 5px;
    }
    .categories{
        padding: 5px;
        height: 70px;
    }
    .categories h2{
        font-size: 7px;
        padding: 2px;
        margin-top: 2px;
    }
    .categories li{
        padding: 2px 0;
        font-size: 1vh;
    }
    .digital-image{
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(./images/long4.jpg);
        background-size: cover;
    }
    .digital-image h2{
        font-size: 10px;
    }
    .digital-image{
        width: 40%;
    }
    #mob-heading{
        margin-top: 30px;
        margin-bottom: 0;
        padding: 0 20px;
        font-size: 2.5vh;
    }
    .mobiles{
        grid-template-columns: 50% 50%;
        justify-content: space-around;
    }

    #laptop-heading{
        margin-top: 30px;
        margin-bottom: 0;
        padding: 20px 20px;
        font-size: 2.5vh;
    }
    .laptops{
        display: grid;
        grid-template-columns: 80%;
        justify-content: space-around;
    }

    .laptops .notify{
        width: 80px;
        height: 20px;
    }

    .laptops .notify p{
        padding-top: 3px;
        font-size: 2vh;
    }
    .laptops h4{
        font-size: 2vh;
        padding-top: 3px;
        padding-bottom: 10px;
 
    }

    #watches-heading{
        margin-top: 30px;
        margin-bottom: 0;
        padding: 20px 20px;
        font-size: 2.5vh;

    }
    .smart-watches{
        display: grid;
        grid-template-columns: 80%;
        justify-content: space-around;

    }
    .smart-watches div{
        display: grid;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 250px;
        margin-bottom: 10px;
        padding: 0 10px;

    }
    .smart-watches div img{
        width: 150px;
        height: 150px;
    }
    .smart-watches p{
        font-size: 2vh;
    }

    footer{
        margin-top: 50px;

    }
    footer img{
        width: 15px;
        height: 15px;
        padding: 8px;

    }
    .allright{
        font-size: 2vh;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}
@media (max-width:600px) {
    .categories{
        width: 100%;

    }
    
}